.root {
    -fx-background-color: #ffffff;
}

.button {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-letter-spacing: 2px;
    -fx-alignment: center;
}

.sidebar-button {
    -fx-alignment: center-left;
}

.green-background {
    -fx-background-color: #2ECC71;
}