.button {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-letter-spacing: 2px;
    -fx-alignment: center;
    /*-fx-text-fill: #FFFFFF;*/
}

.sidebar-button {
    -fx-alignment: center-left;
}

.green-background {
    -fx-background-color: #2ECC71;
    /*-fx-text-fill: #FFFFFF;*/
}

.green-text {
    -fx-text-fill: #2ECC71;
}

.main-title {
    -fx-font-weight: bold;
    /*-fx-text-fill: #FFFFFF;*/
}

/*.green-borders {*/
/*    -fx-border-color: #2ECC71;*/
/*}*/

/*MFXDatePicker {*/
/*    -fx-border-color: #03DAC6;*/
/*}*/