.root {
    -fx-background-color: #ffffff;
}

.button {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-letter-spacing: 1.5px;
    -fx-alignment: center-left;
}

.icon {
    -fx-font-size: 16px;
}

.green-background {
    -fx-background-color: #2ECC71;
}